.app_pozition {
  display: grid;
  grid-template-columns: repeat(2, 5fr);
  text-align: center;
}
.app_div_citi {
  width: 650px;
  height: 650px;
  text-align: center;
  margin: 0 auto;
  padding: 150px;
}
